<!DOCTYPE html>
<html>
<head>
    <title>帕金森偵探 Detective Parkinson</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
    <div class="container">
        <h1 class="text-center my-4">帕金森偵探 Detective Parkinson</h1>
        <form class="p-3 text-center" action="/" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <input class="form-control" type="file" name="imagefile">
            </div>
            <div class="d-grid gap-2 col-md-6 col-lg-4 mx-auto">
                <input class="btn btn-primary mt-3" type="submit" value="預測請按我">
            </div>
        </form>
        <div class="prediction-space" style="min-height: 100px;">
        {% if prediction %}
            <p class="text-center mt-4">預測結果：{{ prediction }}</p>
            <p class="text-center">信心程度：{{ confidence }}</p>
        {% endif %}
        </div>
    </div>
    <div>
        <p class="text-center">操作教學影片</p>

        <p style="text-align:center;">
        <iframe width="420" height="315" align="middle"
        src="https://www.youtube.com/embed/zAASDbE7JMI?si=6RAQ2FzsBm0OrCgx"  allowFullScreen>
        </iframe>
        </p>
    </div>
</body>
</html>
